@keyframes slide-left {
  0% {
    margin-left: 120%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes slide-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 120%;
  }
}

.notification {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--bg-color-main);
  box-shadow: 0 0 10px var(--block-border-white-opacity);
  animation: slide-left 0.5s;
  animation-fill-mode: forwards;
}

.notification_action_exit {
  animation: slide-right 0.5s;
  animation-fill-mode: forwards;
}

.notification__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification__title {
  margin: 0;
  padding: 0 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.57;
}

.notification__title_type_success {
  color: var(--green);
}

.notification__title_type_error {
  color: var(--text-server-error);
}

.notification__btn-close {
  width: 24px;
  height: 24px;
  margin: 5px 5px 0 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: var(--opacity);
}

.notification__text {
  margin: 0;
  padding: 0 10px 10px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.57;
  color: var(--white);
}

.notification__timer {
  height: 10px;
}

.notification__timer_type_success {
  background-color: var(--green);
}

.notification__timer_type_error {
  background-color: var(--red);
}
