:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #4285f4;
  --red: #ee3465;
  --green: #3ddc84;
  --text-grey: #8b8b8b;
  --text-server-error: #ff004c;
  --text-disabled: #c2c2c2;
  --block-bg-color-main: #303030;
  --block-bg-color-dark-grey: #343434;
  --block-bg-color-light-grey: #a0a0a0;
  --btn-bg-color-grey: #313131;
  --btn-bg-color-dark-grey: #2f2f2f;
  --btn-bg-color-dark-blue: #3456f3;
  --btn-bg-color-disabled: #f8f8f8;
  --block-border-grey-opacity: rgba(170, 170, 170, 0.2);
  --block-border-white-opacity: rgba(255, 255, 255, 0.5);
  --divider-bg-color-dark-grey: #424242;
  --divider-bg-color-light-grey: #dadada;
  --bg-color-main: #202020;
  --bg-color-dark-grey: #272727;
  --bg-color-hero: #073042;
  --bg-color-overlay-opacity: rgba(0, 0, 0, 0.3);
  --main-font: "Inter", "Arial", sans-serif;
  --opacity: opacity 0.5s;
}
